<form action="" method="post">
    <div class="form-group">
        <input class="form-control" type="html" name="body" value="{{ post.body }}">
    </div>
    <button type="submit" class="btn btn-primary"> modifier</button>

</form>