<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title> {{ t }} </title>
</head>
<header>

</header>
<body>
{% for post in posts %}
<p> <a href="http://localhost/Unlinkedout/post/{{post.id}}">{{ post.title }} de {{ post.body }} </a>  </p>
{% endfor %}

{% if idUser is not  empty %}
   <a href="http://localhost/Unlinkedout/accueil/create"> Créer un post</a>
{% endif %}
</body>
<footer>

</footer>
</html>

