<form action="" method="post">
    <div class="form-group">
        <input class="form-control" type="text" name="body" placeholder="body">
    </div>
    <button type="submit" class="btn btn-primary"> créer</button>

</form>