<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title> {{ t }} </title>
</head>
<header>

</header>
<body>
{% for post in posts %}
<p>  {{ post.title }} de {{ post.body }}</p>
{% endfor %}

</body>
<footer>

</footer>
</html>

